# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [7]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'
%pip3 install SQLAlchemy

Requirement already satisfied: pandas in c:\users\foura\appdata\local\programs\python\python38\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\foura\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\foura\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\foura\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\foura\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: "'SQLAlchemy==1.4.46'"

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
UsageError: Line magic function `%pip3` not found.

## Load data

In [8]:
import pandas as pd

df = pd.read_sql_table('trainstops', 'sqlite:///data.sqlite')

ImportError: Using URI string without sqlalchemy installed.

### Look at the first rows

In [6]:
df.head(10)

NameError: name 'df' is not defined

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [6]:
df.info()

df['Status'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVA_NR          6519 non-null   int64
 1   DS100           6519 non-null   object
 2   IFOPT           6512 non-null   object
 3   NAME            6519 non-null   object
 4   Verkehr         6519 non-null   object
 5   Laenge          6519 non-null   float64
 6   Breite          6519 non-null   float64
 7   Betreiber_Name  6517 non-null   object
 8   Betreiber_Nr    5395 non-null   float64
 9   Status          24 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 509.4+ KB

array(['neu', None], dtype=object)