Import necessary libraries

In [5]:
import logging, sys, re
import pandas as pd
import sqlite3

Load data

In [6]:
try:
    connection = sqlite3.connect("../data/analysis.sqlite")
    weather = pd.read_sql_query(f"SELECT * FROM weather", connection)
except sqlite3.Error as e:
    logging.error(msg=f"Error while creating SQLite DB: {e}")
    sys.exit(1)
finally:
    connection.close()

In [7]:
weather.head(5)

         Date  Tavg  Tmin  Tmax   City
0  1954-05-18  28.5  25.0  32.8  yagon
1  1954-05-19  27.5   NaN  32.2  yagon
2  1954-05-22  27.9  25.6  30.6  yagon
3  1954-05-24  28.0   NaN  35.6  yagon
4  1954-05-25  26.2   NaN  31.1  yagon