Import necessary libraries

In [1]:
import logging, sys, re
import pandas as pd
import sqlite3

In [2]:
try:
    connection = sqlite3.connect("../data/analysis.sqlite")
    weather = pd.read_sql_query(f"SELECT * FROM weather", connection)
except sqlite3.Error as e:
    logging.error(msg=f"Error while creating SQLite DB: {e}")
    sys.exit(1)
finally:
    connection.close()

DatabaseError: Execution failed on sql 'SELECT * FROM weather': no such table: weather